/*************** global Reset     ************/
:root {
  --primary-color: #072e4d;
  --pane-padding: 5px 42px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: sans-serif;
}

/*************** global style     ************/
section {
  padding: 3rem 1rem;
  margin: 0 auto;
}
section h2 {
  text-align: center;
  padding: 1rem;
  margin-bottom: 1rem;
  font-size: 2.3rem;
}
section:nth-child(odd) {
  background: #f8f7f4;
}
input[type='text'],
input[type='email'],
select,
textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
}

input[type='submit'] {
  background-color: var(--primary-color);
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
/*************** header style     ************/
header {
  position: relative;
  color: #fff;
  height: 60vh;
  padding: 1rem 1rem;
  background-color: #000;
  background-image: url(/images/bg-min.jpg);
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
}

/***navbar ****/

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 60px;
  max-width: 800px;
  margin: auto;
}
nav ul li a {
  color: #fff;
  cursor: pointer;
}

.navbar .logo {
  flex: 3;
}

.navbar .logo a {
  display: block;
  font-size: 30px;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
}
.navbar .logo a:hover {
  color: #777777;
}
.navbar nav {
  flex: 8;
}
.navbar label {
  user-select: none;
  cursor: pointer;
  padding: 28px 20px;
  position: relative;
  z-index: 3;
}

.navbar label i {
  height: 2px;
  position: relative;
  transition: background 0.2s ease-out;
  width: 18px;
  font-style: normal;
  font-weight: normal;
}

.navbar label i:before,
.navbar label i:after {
  content: '';
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}
.navbar label i,
.navbar label i:before,
.navbar label i:after {
  display: block;
  background: #eee;
}
.navbar label i:before {
  top: 5px;
}
.navbar label i:after {
  top: -5px;
}

.navbar #navbar-toggle {
  display: none;
}

.header #navbar-toggle:checked ~ .menu {
  visibility: visible;
  opacity: 0.99;
}
.header #navbar-toggle:checked ~ label {
  background: #212121;
  border-radius: 50%;
}
.header #navbar-toggle:checked ~ label i {
  background: transparent;
}
.header #navbar-toggle:checked ~ label i:before {
  transform: rotate(-45deg);
}
.header #navbar-toggle:checked ~ label i:after {
  transform: rotate(45deg);
}
.header #navbar-toggle:checked ~ label:not(.steps) i:before,
.header #navbar-toggle:checked ~ label:not(.steps) i:after {
  top: 0;
}

@media (max-width: 768px) {
  .navbar nav {
    visibility: hidden;
    opacity: 0;
    z-index: 2;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    transition: all 0.3s ease-out;
    display: table;
    background: #ddd;
  }
  .navbar nav ul {
    margin: 0;
    padding: 20px 0;
    display: table-cell;
    vertical-align: middle;
  }
  .navbar nav li {
    display: block;
    text-align: center;
    padding: 20px 0;
    text-align: center;
    font-size: 50px;
    min-height: 50px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease-out;
  }
  .navbar nav li:hover {
    background: #212121;
  }
  .navbar nav li:hover a {
    color: #fff;
    transition: all 0.3s ease-out;
  }
  .navbar nav li a {
    color: #212121;
  }
}

@media (min-width: 768px) {
  .navbar nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    text-align: center;
    list-style: none;
  }
  .navbar nav li {
    flex: 1;
  }
  .navbar nav li a {
    display: block;
    padding: 0 8px;
    font-size: 16px;
    line-height: 60px;
    color: #fff;
    text-decoration: none;
  }
  .navbar nav li a:hover {
    color: var(--primary-color);
  }
  .navbar nav li.active {
    background: #fff;
  }
  .navbar nav li:hover {
    background: #fff;
  }
  .navbar label {
    display: none;
  }
}

/***/

header .heroMsg {
  padding: 7rem 0;
  text-align: left;
  max-width: 800px;
  margin: auto;
}
header .heroMsg h1 {
  margin-bottom: 1.5rem;
  font-size: 3.2rem;
  text-transform: uppercase;
  color: #eee;
}
header .heroMsg p {
  margin-bottom: 1.5rem;
  font-size: 2rem;
  color: #ddd;
}
header .heroMsg a {
  display: inline-block;
  margin-top: 2rem;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  background-color: #fff;
  color: #000;
  text-decoration: none;
  font-size: 1.2rem;
}

/*************** about me style   ************/
.about p {
  max-width: 800px;
  margin: auto;
  text-align: justify;
}
/*************** services style   ************/

.services {
  max-width: 800px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
}
.service {
  background: #fff;
}
.service img {
  width: 100%;
  height: 300px;
}
.service h3 {
  padding: 1rem;
}
.service p {
  padding: 0 1rem 1rem;
}
/*************** portfolio style  ************/
.projects {
  max-width: 800px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}
.project {
  background: #eee;
  display: grid;
  grid-template-columns: 250px 1fr;
}
.project img {
  width: 250px;
  height: 250px;
}
.project .desc {
  padding: 1.5rem;
}
.project .desc h3 {
  padding-bottom: 1rem;
}
/*************** contact me style ************/
.section-form {
  max-width: 800px;
  margin: auto;
}
/*************** footer style     ************/
footer {
  padding: 1rem;
  margin: auto;
}
footer p {
  text-align: center;
  font-size: 1.2rem;
}
